*{
    
box-sizing: border-box;
margin: 0;
padding: 0;

} 

body{

    background: black;
    color: white;
    background-color: #242326;
background-image: url("data:image/svg+xml,%3Csvg width='42' height='44' viewBox='0 0 42 44' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='Page-1' fill='none' fill-rule='evenodd'%3E%3Cg id='brick-wall' fill='%23c9533c' fill-opacity='0.21'%3E%3Cpath d='M0 0h42v44H0V0zm1 1h40v20H1V1zM0 23h20v20H0V23zm22 0h20v20H22V23z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
font-size: 16px;
font-family: 'Kdam Thmor Pro', sans-serif;
}

a{

color: white;
text-decoration: none;
}
ul{
    list-style: none;
}

.Container{

    width: 90%;
    margin: auto;
}

/*nav*/
.Nav-main{

    font-size: 22px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 20px 0px;
}
.New-brand{

width: 100px; 

}

/*Nav left*/
.Nav-main ul{

    display: flex;
}

.Nav-main ul li{

    padding: 30px;
}


.Nav-main ul li a{

    padding: 2px;
}
.Nav-main ul li a:hover{

    border-bottom: solid 2px white;
}

.Nav-main ul.Navmenu{

    flex: 1;
    margin: left 20px;;
} 


.hr{

    height: 3px;
}

/*Showcase*/

.hr{

    margin: 10px 0;
 }

.Header{

    width: 100%;
    height: 550px;
    background:url(/img/t.jpg) no-repeat center/cover ;
    padding-bottom: 50px;
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    color: rgb(209, 209, 209);
    font-size: 18px;
    text-shadow: 2px 2px 2px rgb(0, 0, 0);
     
}

.btn{

    cursor: pointer;
    display: inline-block;
    font-weight: bold;
    padding: 10px 20px;
    background: #242326;
    color: white;
    font-size: 15px;
    border: 2px solid; 
}

.btn:hover{

    opacity: .9;
}


.Header h2
.Header p{

    margin-bottom: 20px;
}

/*Newcards*/
.Newscards{

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 15px 0;
    gap: 25px;
    
}

.Newscards img{

    width: 100%;
    height: 170px;
    border: solid 2px #727272;
    
}

.Newscards h3{
    text-shadow: 2px 2px 2px rgb(0, 0, 0);
    font-size: 20px;
    margin: 10px 0;
}

.Newscards a{

padding: 10px 0;
color: f2f2f2;
text-transform: uppercase;
display: inline-block;
font-weight: bold;


}

.Newscards a:hover{

    text-decoration: underline;
}

.banner{

width: 100%;
height: 350px;
background: url(/img/iolo.jpg);

}

.banner .content{

width: 30%;
padding: 90px 0 0 30px;
color: white;



}



.banner2{

    width: 100%;
    height: 350px;
    background: url(/img/image-five.jpg) ;
}


.banner2 .content2{

    width: 30%;
    padding: 90px 0 0 30px;
    color: white;



}

/*social*/

.social{

margin: 50px;

}

.social p{

text-align: center;
font-size: 30px;
margin-bottom: 20px;

}

.links{

display: flex;
align-items: center;
justify-content: center;

}

.links a{

margin: 0 30px;

}

.links a i{

    font-size: 45px;
    text-shadow: 2px 2px 2px rgb(0, 0, 0);
    
    }

    /*footer links*/

    .foter{

        background: #2f3640;
        color: #616161;
        font-size: 15px;
        padding: 35px 0;
    }

    .focont{

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: flex-start;
    gap: 10px;
    justify-content: center;
    }

    .foter ul{

margin: auto;

    }


   .footer{

background: #2f3640;
color: #616161;
font-size: 20px;
padding: 20px 0;
text-align: center;
padding-bottom: 15px1;

} 

@media (max-width: 700px){

    .Newscards{

grid-template-columns: repeat(2,1fr);


    }


    .banner .content{

       width: 80%;
        
        
        
        }


        .banner2 .content2{

            width: 80%;
             
             
             
     }




}